.composition {
    position: relative;

    &__photo {
        position: absolute;
        width: 55%;
        border-radius: 2px;
        transition: all .3s;
        outline-offset: 1.5rem;
        z-index: 10;
        &--1 {
            top: -2rem;
            left: 0;
        }
        &--2 {
            right: 0;
            top: 2rem;
        }
        &--3 {
            left: 20%;
            top: 10rem;
        }
        &:hover {
            transform: scale(1.1) translateY(-2px); 
            outline: 1.5rem solid rgba($color-primary, 0.8);
            z-index: 20;
        }
    }
    &:hover &__photo:not(:hover) {
        transform: scale(.95);
    }
}